/* Estilos para o formulário */
#formNotas {
    display: inline-block;
    vertical-align: top;

}

/* Estilos para os parágrafos */
.resultados {
    display: inline-block;
    vertical-align: top;

}
